<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Crear Usuario </title>
</head>
<body>
    <!-- Formulario de creacion de usuario  -->
    <form action="/crear-usuario" method="POST">
        <input type="text" name="iduser" id="" required placeholder="ID usuario">
        <input type="text" name="nombre" id="" required placeholder="Nombre">
        <input type="email" name="correo" id="" required placeholder="Correo">
        <input type="text" name="telefono" id="" required placeholder="Telefono">
        <input type="password" name="contraseña" id="" required placeholder="Contraseña">
        <input type="password" name="confirmacion" id="" required placeholder="Confirme contraseña">
        <input type="submit" value="Crear">
    </form>
</body>
</html>