<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> INICIO </title>
</head>

<body>
  <!-- Formulario de inicio de sesion -->
  <form action="/login" method="POST">
    <input type="email" name="txtcorreo" required placeholder="Correo">
    <input type="password" name="txtcontraseña" required placeholder="Contraseña">
    <input type="submit" value="Iniciar Sesión">
  </form>
<!-- Formulario para registro de usuarios -->
  <form action="/add" method="GET">
    <input type="submit" value="Registrar usuario">
  </form>


</body>

</html>